H     H EEEEEEE L       L        OOOOO        W  W  W   OOOOO  RRRRRRR L       DDDDD   !!!
H     H E       L       L       O     O       W  W  W  O     O R     R L       D    D  !!!
HHHHHHH EEEEEEE L       L       O     O       W  W  W  O     O RRRRRR  L       D     D !!!
H     H E       L       L       O     O        W W W   O     O R    R  L       D    D
H     H EEEEEEE LLLLLLL LLLLLLL  OOOOO         WWWWW    OOOOO  R     R LLLLLLL DDDDD    !
